.App{
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.books{
    display: flex;
    gap:10px;
}

.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.delete ,  .update{
    border: 1px solid wheat;
    padding: 3px 6px;
    background: white;
    cursor: pointer;
}
.delete{
    color: rgb(178, 55, 158);
}
.update{
    color: rgb(48, 108, 108); 
}
img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(108, 114, 112);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formbutton{
    border: none;
    padding: 10px;
    background-color: rgb(182, 128, 128);
    color: wheat;
    font-weight: bold;
    cursor: pointer;
}