.App{
    height: 100vh;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    margin-bottom: 50px;
}
h3{
    margin-bottom: 50px;
}
.tasks{
    display: flex;
    gap:50px;
}

.task{
    border: 1px solid rgb(203, 198, 198);
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    display: grid;
    grid-template-rows: repeat(2, 100px);
}
.upper{

}
.lower{
   display: flex;
   justify-content: space-between;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: rgb(147, 147, 148);
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px auto;
}
.status_done{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: rgb(130, 181, 151);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px auto;
}
.delete ,  .update , .new, .update_new{
    border: 1px solid gray;
    padding: 10px 10px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
}
.delete{
    color: red;
}
.update{
    color: green; 
}
.update_new{
    color: gray; 
}
.new > *{
    color: rgb(28, 159, 224); 
    text-decoration: none;
}
.new{
    width: 150px;
    height: 50px;
    margin-top: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}
textarea{
    resize: none;
    padding: 10px;
}

.formbutton{
    border: none;
    padding: 10px;
    background-color: gray;
    color: white;
    font-weight: bold;
    cursor: pointer;
}